<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>Skill: {{ skill }}</h1>

        <input type="text" v-model="points">

        <h1>{{ first }} {{ last }}</h1>
        <h1>{{ fullName }}</h1>
        <!-- If first name or last name change it won't be reflected in 'fullName' -->
        <input type="text" v-model="first" placeholder="first name">
        <input type="text" v-model="last" placeholder="last name">
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.0/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                points: '50', 
                first: 'Bob',
                last: 'Belcher',
                // fullName: 'Bob Belcher'
            },
            computed: {
                skill: function(params) {
                    if (this.points <= 100) {

                        return 'Beginner';
                    }

                    return 'Advanced';
                },
                fullName: function() {
                    return this.first + ' ' + this.last;
                }
            },
            watch: {
                // Watch for changes if first and last name.  For something like this it is better to use a computed property.
                // first: function(first) {
                //     this.fullName = first + ' ' + this.last;
                // },
                // last: function(last) {
                //     this.fullName = this.first + ' ' + last;
                // }
            }
        });
    </script>
</body>
</html>